<p><em>Select a pokemon from the list to see details.</em></p>
<ul>
  <li *ngFor="let pokemon of pokemons">
    <div style="background-color: grey; width: 128px;">
        <p>{{pokemon.name}}</p>
        <img src="assets/images/placeholder.png" style="width: 72px; height:72px;"/>
        <div *ngIf="pokemon.action != pokeAction.Disabled; then thenBlock"></div>
        <ng-template #thenBlock>
            <button type="button" (click)="executeAction(pokemon)">
                {{pokemon.action}}
            </button>
        </ng-template>
        <br><br>
    </div>
  </li>
</ul>