<p><em>Select a pokemon from the list to see details.</em></p>
<ul>
  <li *ngFor="let item of items">
    <app-pokemon [json]="item.pokemon"></app-pokemon>
    <div [ngSwitch]="action">      
      <div *ngSwitchCase="pokeAction.Catch">
        <app-catch [pokemon]="item.pokemon.name"></app-catch>
      </div>
      <div *ngSwitchCase="pokeAction.Release">
        <app-release [pokemon]="item.pokemon.name"></app-release>
      </div>
      <div *ngSwitchDefault>
      </div>
    </div>
  </li>
</ul>