<p><em>Select a pokemon from the list to see details.</em></p>
<ul>
  <li *ngFor="let pokemon of pokemons">
    <div style="background-color: grey; width: 128px;">
        <p>{{pokemon.name}}</p>
        <img src="assets/images/placeholder.png" style="width: 72px; height:72px;"/>

        <div [ngSwitch]="action">
            <div *ngSwitchCase="pokeAction.Release"> 
                <button type="button" (click)="releasePokemon(pokemon)">
                    Release!
                </button>
            </div>
            <div *ngSwitchCase="pokeAction.Catch"> 
                <button type="button" (click)="catchPokemon(pokemon)">
                    Catch!
                </button>
            </div>
        </div>
        <br><br>
    </div>
  </li>
</ul>