<p>{{json?.id}}. {{json?.name}}</p>
<img [src]="json?.img" onerror="this.src='assets/images/placeholder.png';" style="width: 144px; height: 144px;"/>

<div *ngIf="isDetailed; else notDetailed">    
    <p>hp       : {{getStat(0)}} </p>
    <p>atk      : {{getStat(1)}} </p>
    <p>def      : {{getStat(2)}} </p>
    <p>sp.atk   : {{getStat(3)}} </p>
    <p>sp.def   : {{getStat(4)}} </p>
    <p>spd      : {{getStat(5)}} </p>
    <p>hide <button (click)="hideDetails()">[<]</button></p>
</div>

<!-- What to display if not displaying detailed info -->
<ng-template #notDetailed>
    <p>details <button (click)="btnShowDetails()">[>]</button></p>    
</ng-template>

<ng-template [ngIf]="!isCaught">
    <div>
        <button (click)="btnCatch()">Catch!</button>
    </div>
</ng-template>