<p>{{json?.id}}. {{json?.name}}</p>
<img [src]="json?.img" onerror="this.src='assets/images/placeholder.png';" style="width: 144px; height: 144px;"/>

<div *ngIf="isDetailed; else notDetailed">    
    <!-- <p>hp       : {{json?.hp}} </p>
    <p>atk      : {{json?.atk}} </p>
    <p>sp.atk   : {{json?.spatk}} </p>
    <p>def      : {{json?.def}} </p>
    <p>sp.def   : {{json?.spdef}} </p>
    <p>spd      : {{json?.spd}} </p> -->
    <p>hide <button (click)="hideDetails()">[<]</button></p>
</div>

<!-- What to display if not displaying detailed info -->
<ng-template #notDetailed>
    <p>details <button (click)="showDetails()">[>]</button></p>    
</ng-template>

<ng-template [ngIf]="!isCaught">
    <div>
        <button (click)="btnCatch()">Catch!</button>
    </div>
</ng-template>